<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Employee Details</title>

  <link rel="stylesheet" type="text/css" href="static/css/up.css">

<style>
     

 body {
  background-image: url('static/images/bg7.jpg');
}  
  

   </style>
  
 </head>
 <body>

<header>
  <p><button style="float: right;font-size: 22px;" class="form-submit-button" onclick="window.location.href = 'upload';"><span>Home</span>    </button></p>
</header>
  <h1><span class="hdr">Emp</span><span class="lft">loyee </span><span class="hdr">De</span><span class="lft">tails</span></h1>
  


  <div class="form">
<form class="form-inline" method=post enctype=multipart/form-data action="{{ url_for('main.emp_page')}}">
     
      <p>
      <input type="text" name=emp_name placeholder="Employee Name" align="right"> </p>
      
    <p>  <input type="text" name=emp_id placeholder="Employee ID" align="right"> </p>
    
     <p> <input type="text" name=emp_veh placeholder="Employee Vehicle Number" align="right"> </p>
     <p><input class="form-submit-button" type=submit value="Sign In" align="right"> </p>
<p><input class="form-submit-button" type=submit value="Sign Out" align="right"> </p>
                    
   </form>
 </div>

<div>
<table class="center" >
     <tr>
       <th>Employee ID</th>
       <th>Employee Name</th>
       <th>Employee Vehicle</th>
       <th>In Date</th>
       <th>In Time</th>
       <th>Out Date</th>
       <th>Out Time</th>
     </tr>
     {% for em in emp_details %}
     <tr>
       <td>{{ em['Employee ID'] }}</td>
       <td>{{ em['Employee Name'] }}</td>
       <td>{{ em['Employee Vehicle'] }}</td>
       <td>{{ em['In Date'] }}</td>
       <td>{{ em['In time'] }}</td>
       <td>{{ em['Out date'] }}</td>
       <td>{{ em['Out time'] }}</td>
     </tr>
     {% endfor %}

   </table>
   </div>

 </body>
 </html>