<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Parking Lot Details</title>

  <link rel="stylesheet" type="text/css" href="static/css/up.css">

<style>
     

 body {
  background-image: url('static/images/b2.jpg');


}  
  

   </style>

 </head>
 <body>
  <nav>
  <p><button style="float: right;font-size: 22px;" class="form-submit-button" onclick="window.location.href = 'upload';"><span>Home</span>    </button></p>
</nav>
<h1><span class="hdr">Park</span><span class="lft">ing </span><span class="hdr">Lo</span><span class="lft">t</span></h1>
<table class="center" >
     <tr>
       <th>Parking Lot</th>
       <th>Available Slots</th>
     </tr>
     {% for pk in pk_details %}
     <tr>
       <td>{{ pk['Lot Name'] }}</td>
       <td>{{ pk['Space left'] }}</td>
     </tr>
     {% endfor %}

   </table>
<footer>
   <div>
    <h2 style="color: #54a7de;text-align: center;font-size:40px;" >About</h2>
    <div class="bgg" > </div>
  <div class="fit"  > This is a Smart parking Management system built using python OCR module Tesseract which helps in automation of record storing using less man power and being time efficient</div>
</div>

   </footer>


 </body>
 </html>