<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Smart parking</title>

   <link rel="stylesheet" type="text/css" href="static/css/up.css">
   <style>
     

 body {
  background-image: url('static/images/b10.jpg');
}  
  

   </style>
 </head>
 <body>

<nav>
 <p><button class="button1" onclick="window.location.href = 'uploadsu';"><span>Payment Details</span>    </button></p> 
  <p><button class="button" onclick="window.location.href = 'emp';"><span>Employee Details</span>    </button></p>
  <p><button class="button1" onclick="window.location.href = 'lot';"><span>Parking Lot</span>    </button>
  </p>
</nav>
  
   <h1><span class="hdr">Ve</span><span class="lft">hicle </span><span class="hdr">En</span><span class="lft">try</span></h1>
   
   
   <div class="mn">

  <div class="form">
   <form class="form-inline" method=post enctype=multipart/form-data action="{{ url_for('main.upload_page')}}">
     <p><input class="custom-file-input" type=file name=file align="right"></p>
        
      
       
     <p> <input class="frmip" type="text" name=Man_name placeholder="Managed by" align="right">  </p>
     
     <p> <input class="frmip" type="text" name=space_name placeholder="Parking lot" align="right"> </p>
     
     <p> <input class="frmip" type="text" name=veh_ty placeholder="Vehicle type 2 or 4" align="right"> </p>
      <p><input class="form-submit-button" type=submit value="Submit" align="right"> </p>

                    
   </form>
   <button id="redi" onclick="window.location.href = 'uploadsu';"><span>Payment Details</span></button>
   
</div>


   <!--<h1>Result:</h1>
   {% if img_src %}
     <img src="{{ img_src }}">
   {% endif %}
  
   {% if extracted_text %}
     <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
  
   {% else %}
     The extracted text will be displayed here
   {% endif %}-->
<div>
   <table class="center">
     <tr>
       <th>Vehicle number</th>
       <th>Parking Lot</th>
       <th>Date</th>
       <th>In Time</th>
       <th>Staff</th>
       <th>Out Date</th>
       <th>Out Time</th>
     </tr>
     {% for veh in all_vehicles %}
     <tr>
       <td>{{ veh['Vehicle Number'] }}</td>
       <td>{{ veh['Parking Lot'] }}</td>
       <td>{{ veh['Date'] }}</td>
       <td>{{ veh['In time'] }}</td>
       <td>{{ veh['Managed by'] }}</td>
       <td>{{ veh['Out date'] }}</td>
       <td>{{ veh['Out time'] }}</td>
     </tr>
     {% endfor %}

     
 <!--    <tr>
       <td>hey</td>
       <td>1</td>
       <td>1234</td>
       <td>me</td>
       <td>dff</td>
     </tr> -->
   </table>
   </div>
   </div>
   

 </body>
</html>