<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Payment Details</title>

   <link rel="stylesheet" type="text/css" href="static/css/up.css">

<style>
     

 body {
  background-image: url('static/images/bg7.jpg');
}  
  

   </style>

 </head>
 <body>
<header>
  <p><button style="float: right;font-size: 22px;" class="form-submit-button" onclick="window.location.href = 'upload';"><span>Home</span>    </button></p>
</header>
  <h1><span class="hdr">Pay</span><span class="lft">ment </span><span class="hdr">De</span><span class="lft">tails</span></h1>
  
  <div class="form">
   <form class="form-inline" method=post enctype=multipart/form-data action="{{ url_for('main.uploadsu')}}">
     
         
      
     <p><input type="text" name=veh2 placeholder="Vehicle number" align="right"></p> 
     
      <p><input type="text" name=amount placeholder="Enter Amount" align="right"></p>
     
     <p> <input type="text" name=pay_m placeholder="Payment method" align="right"></p>
<p><input class="form-submit-button" type=submit value="Submit" align="right"> </p>
                    
   </form>
</div>
  
<div>
   <table class="center" >
     <tr>
       <th>Vehicle number</th>
       <th>Vehicle type</th>
       <th>Amount</th>
       <th>Payment method</th>
     </tr>
     {% for ty in typo %}
     <tr>
       <td>{{ ty['Vehicle Number'] }}</td>
       <td>{{ ty['Vehicle type'] }}</td>
       <td>{{ ty['Amount'] }}</td>
       <td>{{ ty['Payment method'] }}</td>
     </tr>
     {% endfor %}
 
   </table>
   </div>
 </body>
</html>